# **Analysis of Diabetes Risk in India**

## Objectives

* Crate a comprehensive data analysis tool designed for medical professionals to streamline data exploration, analysis, and visualisation to analyze behavioural insights and impact of lifestyle factors on diabetes risk in India.

## Inputs

* Data source: https://www.kaggle.com/datasets/ankushpanday1/diabetes-in-youth-vs-adult-in-india


## Outputs

* Write here which files, code or artefacts you generate by the end of the notebook 

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [19]:
import os
current_dir = os.getcwd()
current_dir

'/workspace/Analysis_of_diabetes_risk-/jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [20]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm new directory

In [21]:
current_dir = os.getcwd()
current_dir

'/workspace/Analysis_of_diabetes_risk-'

# Section 1 :  Data Extraction, Transformation, and Loading (ETL)

In [1]:
# Setting up & Importing packages
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
sns.set_style('whitegrid')
from sklearn.pipeline import Pipeline
import plotly.express as px

In [22]:
# Loading the dataset
diabetes_df= pd.read_csv('diabetes young adults india.csv')

In [ ]:
#Preview of top 15 entries in dataset
diabetes_df.head(15)

,ID,Age,Gender,Region,Family_Income,Family_History_Diabetes,Parent_Diabetes_Type,Genetic_Risk_Score,BMI,Physical_Activity_Level,...,Smoking,Alcohol_Consumption,Fasting_Blood_Sugar,HbA1c,Cholesterol_Level,Prediabetes,Diabetes_Type,Sleep_Hours,Stress_Level,Screen_Time
0,1,21,Male,North,2209393,No,None,6,31.4,Sedentary,...,Yes,No,95.6,9.5,163.3,Yes,None,7.7,7,6.8
1,2,18,Female,Central,387650,No,None,5,24.4,Active,...,No,No,164.9,5.0,169.1,Yes,None,7.9,8,6.0
2,3,25,Male,North,383333,No,None,6,20.0,Moderate,...,No,No,110.5,8.3,296.3,Yes,Type 1,7.6,8,4.6
3,4,22,Male,Northeast,2443733,No,None,4,39.8,Moderate,...,No,Yes,160.7,4.6,252.8,No,None,9.5,2,10.9
4,5,19,Male,Central,1449463,No,None,4,19.2,Moderate,...,No,Yes,73.7,5.3,252.3,No,None,6.4,2,1.3
5,6,21,Female,Central,2142229,Yes,None,3,36.4,Active,...,No,No,78.9,4.7,249.0,Yes,Type 2,4.0,3,5.2
6,7,24,Female,North,2357529,No,Type 2,7,39.0,Moderate,...,No,No,76.1,6.1,198.4,Yes,Type 2,4.0,9,4.9
7,8,17,Male,East,2395436,No,None,1,24.5,Moderate,...,No,Yes,95.6,7.9,133.6,Yes,None,5.0,6,2.1
8,9,21,Female,East,1288764,No,Type 2,3,18.1,Sedentary,...,No,No,177.2,5.1,235.9,No,None,9.0,2,6.8
9,10,25,Female,North,127666,Yes,None,3,17.7,Sedentary,...,No,No,102.3,5.1,289.1,Yes,None,4.8,8,10.4
10,11,25,Male,Central,1117881,No,Type 1,5,25.0,Sedentary,...,No,Yes,107.7,4.4,169.4,No,None,6.3,10,8.6
11,12,22,Female,Central,1590594,No,None,2,23.6,Sedentary,...,No,No,127.9,5.9,221.8,No,None,7.3,3,9.0
12,13,19,Male,Northeast,359848,No,None,10,34.2,Sedentary,...,No,No,85.9,7.3,196.0,No,Type 2,6.1,2,11.7
13,14,18,Female,North,461642,No,Type 1,10,18.5,Sedentary,...,No,No,72.8,9.0,257.5,No,None,7.6,5,9.2
14,15,22,Male,East,287690,No,None,5,27.0,Moderate,...,Yes,No,127.5,9.0,210.2,No,None,5.0,3,9.0

In [26]:
# Making a list of all Column names
Df_cols= [diabetes_df.columns]
Df_cols

[Index(['ID', 'Age', 'Gender', 'Region', 'Family_Income',
        'Family_History_Diabetes', 'Parent_Diabetes_Type', 'Genetic_Risk_Score',
        'BMI', 'Physical_Activity_Level', 'Dietary_Habits', 'Fast_Food_Intake',
        'Smoking', 'Alcohol_Consumption', 'Fasting_Blood_Sugar', 'HbA1c',
        'Cholesterol_Level', 'Prediabetes', 'Diabetes_Type', 'Sleep_Hours',
        'Stress_Level', 'Screen_Time'],
       dtype='object')]

In [27]:
# Total number of rows and columns in Diabetes dataframe
diabetes_df.shape
print(f"There are {diabetes_df.shape[0]} rows and {diabetes_df.shape[1]} columns in the Diabetes Dataframe.")

There are 100000 rows and 22 columns in the Diabetes Dataframe.

In [28]:
# Information on Index, Datatypes and Memory 
diabetes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 22 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ID                       100000 non-null  int64
 1   Age                      100000 non-null  int64
 2   Gender                   100000 non-null  object
 3   Region                   100000 non-null  object
 4   Family_Income            100000 non-null  int64
 5   Family_History_Diabetes  100000 non-null  object
 6   Parent_Diabetes_Type     100000 non-null  object
 7   Genetic_Risk_Score       100000 non-null  int64
 8   BMI                      100000 non-null  float64
 9   Physical_Activity_Level  100000 non-null  object
 10  Dietary_Habits           100000 non-null  object
 11  Fast_Food_Intake         100000 non-null  int64
 12  Smoking                  100000 non-null  object
 13  Alcohol_Consumption      100000 non-null  object
 14  Fasting_Blood_Sugar      100000 non-null  float64
 15  HbA1c                    100000 non-null  float64
 16  Cholesterol_Level        100000 non-null  float64
 17  Prediabetes              100000 non-null  object
 18  Diabetes_Type            100000 non-null  object
 19  Sleep_Hours              100000 non-null  float64
 20  Stress_Level             100000 non-null  int64
 21  Screen_Time              100000 non-null  float64
dtypes: float64(6), int64(6), object(10)
memory usage: 16.8+ MB

---

# Section 2

Section 2 content

---

NOTE

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---

# Push files to Repo

* In cases where you don't need to push files to Repo, you may replace this section with "Conclusions and Next Steps" and state your conclusions and next steps.

In [ ]:
import os
try:
  # create your folder here
  # os.makedirs(name='')
except Exception as e:
  print(e)